# List Encoding Mean Runtime

The following code generates Table 4

Measurement logs are provided in `./logs/encoding.csv`, captured via Unity3D profiling tool manually.

In [1]:
import os
os.chdir(f'{os.getcwd()}/../../')
WORKING_DIR = './evaluation/profile_client'

In [2]:
import pandas as pd
from tqdm import tqdm

import seaborn as sns
from matplotlib import pyplot as plt
sns.set(color_codes=True)

In [3]:
df = pd.read_csv(f'{WORKING_DIR}/logs/encoding.csv')

In [4]:
df.groupby('method').mean()

                                        time
method
float32                             0.002889
float32 + stripping                 1.792895
uint8 + float16                     1.674950
uint8 + float16 + stripping (ours)  1.002950